{% extends "navbar.html" %} {% block content %}
    <h1>Pokemon Query!</h1>
    <div class="cards">
      {%for i in range(0,length)%}
      <a href="/poke/{{content[i][0]}}">
        <div class="card">
          <img src="{{ url_for('static', filename='images/' + content[i][0] + '.png') }}" alt="Avatar" class="image">
          <div class="container">
            <h4><b>Pokemon nr. {{content[i][0]}}</b></h4>
            <p class="card-text">Name: {{content[i][1]}}</p>
            <p class="card-text">Type: {{content[i][2]}}</p>
            <p class="card-text">HP: {{content[i][3]}}</p>
            <p class="card-text">Att: {{content[i][4]}}</p>
            <p class="card-text">Def: {{content[i][5]}}</p>
            <p class="card-text">Height: {{content[i][6]}}</p>
            <p class="card-text">Weight: {{content[i][7]}}</p>
          </div>
        </div>
      </a>
      {%endfor%}
    </div>
{% endblock content %}
